.body {
  width: calc(100% - 4rem);
  height: calc(100% - 5.6rem);
  margin-left: 4rem;
  margin-right: 1rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #BDD09F;
}

.body-trimmed {
  width: calc(100% - 15rem);
  margin-left: 15rem;
}

.body-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
