<div class="sidenav" [ngClass]="collapsed?'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-tree"></i>
    </button>
    <div *ngIf="collapsed" class="logo-text">Forestry</div>
    <button *ngIf="collapsed" class="btn-close" @rotate (click)="closeSideNav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span *ngIf="collapsed" class="sidenav-link-text">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
