<div class="bigger-header">
<div class="header-upper" [ngClass]="getHeaderClass()">
  <div class="header-content">
    <div class="up">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
      <img src="../../assets/header.jpg" alt="header">
  </div>
</div>
</div>
  <div class="down">
    <i class="far fa-user icon"></i>
  </div>
</div>
