<div class="container">
  <div class="form-box">
    <h1>Introduce-ți credențialele pe care vreți să le modificați pentru contul curent</h1>
    <form [formGroup]="signupForm">
      <div class="input-group">

        <div class="input-field">
          <i class="fa-solid fa-user"></i>
          <input matInput formControlName="name" type="text" placeholder="Nume" required>
        </div>

        <div class="input-field">
          <i class="fa-solid fa-phone"></i>
          <input matInput formControlName="contactNumber" type="text" placeholder="Număr de contact" required>
        </div>

        <label>
          <input type="radio" value="student" formControlName="role" checked>
          Student
        </label>
        <label>
          <input type="radio" value="professor" formControlName="role" >
          Profesor
        </label>
        <label>
          <input type="radio" value="admin" formControlName="role">
          Admin
        </label>


      </div>
    </form>
    <div class="btn-field">
      <button type="button" (click)="modify()">Modifică </button>
    </div>
  </div>
</div>
