<div class="container">
  <div class="form-box">
    <h1>Introduce-ți emailul pentru recuperare parolă</h1>
    <form [formGroup]="signupForm">
      <div class="input-group">

        <div class="input-field">
          <i class="fa-solid fa-at"></i>
          <input matInput formControlName="email" type="text" placeholder="Email" required>
          <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
            <span *ngIf="signupForm.controls.email.errors.required">Obligatoriu</span>
            <span *ngIf="signupForm.controls.email.errors.invalid">Invalid</span>
          </mat-error>
        </div>
        </div>
    </form>
    <div class="btn-field">
      <button type="button" (click)="forgotPassword()">Trimite parola
      </button>
    </div>

  </div>
</div>

