<button *ngIf="isRoleProfesor()" (click)="creazaCurs()" class="butonCreate" [routerLink]="['createCourse']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Creeaza curs</button>
<h2>Cursuri Disponibile</h2>
<div class="courses-container">
  <div *ngFor="let course of courses" class="course-item">
    <h3>{{ course.title }}</h3>
    <img src="{{ course.imageUrl }}" alt="{{ course.title }} Image" />
    <p>{{ course.description }}</p>
    <button (click)="startCurs(course)">Deschide curs</button>
    <button *ngIf="isRoleProfesor()" (click)="stergeCurs(course)">Sterge curs</button>
  </div>
</div>
<button class="butonNavigate"  (click)="goToPractice()">Mergi la exersarea notiunilor</button>
