<div class="forest-info">
  <h2>Despre Pădure</h2>
  <p>
    Despre pădure s-a vorbit și se va mai vorbi mult, avându-se în vedere importanța acesteia și
    presiunile la care pădurea este supusă de către societatea umană. Creșterea numerică a populației,
    tendința de ridicare a nivelului de trai sunt cauze ﬁrești pentru ca pădurea să capete o importanță
    sporită față de perioadele istorice trecute. Solicitările contradictorii venite din partea societății,
    precum nevoia crescută de lemn, dar și protejarea speciilor de faună și ﬂoră, constituie provocări
    deosebite pentru silvicultori, cei pe a căror umeri se aﬂă responsabilitatea gospodăririi pădurii.
  </p>
  <p>
    Trebuie spus că, în general, la nivelul României, suprafața acoperită cu pădure s-a redus
    constant. Dacă în vremea războaielor dintre daci și romani (sec. I) cam 75% din suprafața actuală a
    țării era acoperită de pădure, la începutul secolului al XIX-lea procentul scade la mai puțin de 50%.
    La nivelul anului 2015, suprafața pădurilor din România era de 6,8 milioane ha, ceea ce reprezintă
    aproape 28% din teritoriul național. Îmbucurător este că, în poﬁda celor vehiculate în presă, suprafața împădurită a țării înregistrează o
    ușoară creștere față de perioada precedentă.
    <p>Acest procent de împădurire este totuși mai mic decât media europeană situată undeva la 35% și mult mai
    mic față de procentul de 40%, care este optimul considerat pentru țara noastră.
    Compararea procentului de împădurire al țării noastre cu media
    europeana este nerelevantă, putând genera concluzii linistitoare, dar greșite.
    În realitate, cu excepția câtorva județe din zona de munte, se poate spune că
    România este subîmpădurita, mai ales în zonele de câmpie și deal, ceea ce se
    poate observa din ﬁgura de mai sus.
  </p>
  <p>
    La nivel național, sub raportul proporţiei speciilor, foioasele ocupă 69% (fag 31%, stejari 18%,
    alte foioase tari 15%, foioase moi 5%) iar răşinoasele 31% (molid 23%, brad 5%, larice, pin, ş.a.3%).
    Anual din pădurile României se exploatează aproximativ 15 milioane de metri cubi de lemn, mult
    mai puțin față de perioada comunistă, atunci când se exploatau anual în jur de 25 milioane de metri
    cubi. Din totalul suprafețelor împădurite doar aproximativ 50% mai sunt proprietate de stat, admi-
    nistrate de Regia Națională a Pădurilor – Romsilva.
  </p>
  <p>
    E bine de știut că pădurile asigură o bază variată de materii prime numite produse forestiere, acestea ﬁind de natură lemnoasă, animală sau vegetală. Cea mai mare parte din volumul total
    al produselor forestiere o deține lemnul, materie primă care are mai bine de 5000 de utilizări diferite. Din acest motiv, de cele mai multe ori se asociază pădurea ca ﬁind o doar sursă de lemn.
    Ignorate vreme îndelungată, în primul rând datorită faptului că necesitățile societății nu reclamau nicio schimbare fundamentală de conștiință și deci, de atitudine, funcțiile pădurilor nu au
    constituit obiectul preocupărilor umane decât foarte târziu, mai exact spus, începând cu secolul al
    XIX-lea.
  </p>
  <p>
    Astăzi, problematica funcțiilor pădurilor se regăsește la locul cuvenit, pădurile ﬁind împărțite
    după destinația ce le-a fost atribuită, în două mari categorii, după cum urmează:
  </p>
  <pre>
    - grupa I: păduri cu rol deosebit de protecție;
    - grupa a II-a: păduri de producție și de protecție.
  </pre>
  <img src="assets/images/curs1.jpg" alt="Pădurea" />
  <p>
    Prin funcțiile de protecție ale pădurilor, se înțelege exercitarea de către acestea a unor inﬂuențe favorabile mediului sau aducerii unor servicii utile societății. Chiar dacă, o lungă perioadă de timp,
    oamenii nu au simțit nevoia justiﬁcării acestor funcții, tocmai pentru că nu duceau lipsa efectelor lor
    beneﬁce, în prezent, dar mai ales în perspectivă, cele care vor deține întâietatea în fața necesităților
    și preocupărilor oamenilor vor ﬁ, fără îndoială, funcțiile de protecție.
    Între factorii care vor inﬂuența, în viitor, această ierarhizare se situează, cu prioritate, industrializarea, cu toate componentele ei poluante, și creșterea demograﬁcă, în cadrul căreia urbanizarea
    accentuată capătă un loc important. E bine de reținut că funcțiile de protecție se manifestă cu precădere numai în zona în care există pădurea sau în zonele imediat apropiate, efectele beneﬁce neputând ﬁ ”transportate”, ca în cazul lemnului.
    Între numeroasele inﬂuențe favorabile exercitate de pădure, se regăsesc cu prioritate următoarele:
  <p>
    - pădurea favorizează inﬁltrarea apei în sol și menținerea unui regim hidric favorabil
    acestuia, împiedică sau reduce intensitatea fenomenelor torențiale și a avalanșelor;
  </p>
  <p>
    - pădurea inﬂuențează favorabil extremele de temperatură, diminuează viteza vântu-
    lui modiﬁcând favorabil climatul din interiorul și apropierea acesteia;
  </p>
  <p>
    - înfrumusețează și înnobilează peisajul;
  </p>
  <p>
    - prin aparatul foliar, vegetația forestieră contribuie la puriﬁcarea atmosferei de praf,
    fum, gaze toxice și microbi, consumând totodată o mare cantitate de dioxid de carbon și refăcând continuu stocul de oxigen;
  </p>
  <p>
    - creează condiții excelente pentru destindere și recreere.
  </p>
  <p>
    Multitudinea funcțiilor de protecție au generat, ﬁresc, o serie de preocupări, studii și cercetări
    pentru clasiﬁcarea acestora. În țara noastră, clasiﬁcarea în mare a funcțiilor de protecție este următoarea:
  </p>
    a) funcția de protecție a apelor;
  <p>
  <p>
    b) funcția de protecție a terenurilor și solurilor;
  </p>
  <p>
    c) funcția de protecție contra factorilor climatici și industriali dăunători;
  </p>
  <p>
    d) funcția de recreere;
  </p>
  <p>
    e) funcția de interes științiﬁc și de conservare a fondului genetic forestier.
  </p>
</div>
