<div class="forest-info"><h2>Pepiniere si plantatii</h2>
  <p>
    In linii mari, in dezvoltarea padurii, se disting trei etape: a tineretii, a maturitatii si a batranetii,
    ﬁecare avand mai multe faze.
  </p>
  <p>Etapa tineretii incepe odata cu rasarirea plantulelor si dureaza pana cand se realizeaza prima
    fructiﬁcatie abundenta. Aceasta etapa este relativ scurta si este parcursa mai repede de speciile
    repede crescatoare, prelungindu-se in cazul speciilor mai incet crescatoare.
    In etapa tineretii arborii se adapteaza usor la schimbarea conditiilor de mediu, suporta
    umbrirea, dar sunt mai sensibili la ger si arsita. In cadrul etapei tineretii se disting mai multe faze de
    dezvoltare si anume:</p>
  <p>-semintis - incepe cu rasarirea plantulelor si se incheie odata cu constituirea starii de masiv.
    Acest stadiu se caracterizeaza prin lupta individuala a puietilor cu factorii daunatori (buruieni, arsita,
    vant, ger, daunatori, etc.), exemplarele mai slabe pierzand acesta lupta. Puterea de adaptare a
    puietilor este mare, cerintele fata de lumina sunt mai mici, iar protectia arborilor batrani este deosebit de eﬁcace. Prin atingerea coroanelor se realizeaza un plafon continuu, astfel este impiedicata
    instalarea buruienilor si patrunderea vantului in arboret.</p>
  <p>-desis - dureaza de la constituirea starii de masiv pana la aparitia elegajului natural, cand
    inaltimea arborilor atinge 2 metri - 2,5 metri. Constituindu-se o comunitate de viata, arborii lupta in
    comun impotriva factorilor daunatori ai mediului. Apar relatii de interdependenta intre arbori, ceea
    ce are ca urmare diferentierea arborilor in inaltime si eliminarea naturala. Arborii au mare nevoie de
    lumina, sunt mai rezistenti la ger si arsita. Capacitatea lor de adaptare la schimbarea conditiilor de
    viata este inca foarte ridicata.</p>
  <p>-nuielis - incepe odata cu declansarea elagajului natural si se consider incheiata atunci cand
    majoritatea arborilor componenti ajung la diametrul de aproximativ 5 centimetri. Cresterea in
    inaltime este deosebit de activa, in timp ce cea in grosime este redusa. In arboretele constituite din
    mai multe specii, cu ritmuri de crestere diferite, exista pericolul eliminarii unor specii valoroase.
    Participarea silvicultorului in dirijarea procesului de eliminare naturala este deosebit de importanta,
    el dirijand procesul in cadrul speciilor dominante. Astfel se stimuleaza si cresterea in grosime a arborilor spre a preveni eventuale vatamari provocate de zapada si de vant.</p>

  <p>-prajinis - se refera la perioada in care diametrul mediu al arboretului este cuprins intre 5 si
    10 centimetri. In acest interval cresterea in inaltime se intensiﬁca tot mai mult, desimea este mare,
    in timp ce coroanele arborilor sunt destul de inghesuite, iar trunchiurile excesiv de zvelte.</p>
  <p>-paris - cuprinde perioada de timp in care diametrul mediu al arborilor este cuprins intre 11
    centimetri si 20 centimetri. Acest stadiu se caracterizeaza prin cresterea in inaltime foarte activa,
    arborii realizand nivelul maxim. Cresterea in grosime ramane redusa, fapt pentru care tulpinile sunt
    mai usor rupte de vant si zapada.</p>
  <img src="assets/images/curs4.1.jpg" alt="Padurea" />
  <p>Etapa maturitatii incepe cu prima fructiﬁcatie abundenta si se termina cu aparitia fenomenelor de declin in viata arborilor. Adaptarea lor la modiﬁcarile factorilor de mediu se face cu diﬁcultate. In cadrul acestei etape se disting doua faze de dezvoltare si anume:</p>

  <p>-codrisor (codru tanar)- este prima faza din etapa maturitatii si este marcata prin inceperea
    fructiﬁcatiei abundente. Diametrul mediu al arborilor este cuprins intre 21 centimetri si 35 centimetri. Cresterea in inaltime incepe sa se reduca, iar cea in grosime devine foarte activa.</p>
  <p>-codru mjlociu (codru)- cuprinde perioada se timp in care diametrul mediu al arborilor este
    cuprins intre 36 centimetri si 50 centimetri. Fructiﬁcatia se mentine abundenta, iar cresterea in
    inaltime este foarte redusa in timp ce cresterea in grosime se mentine activa, dar nu la nivelul din
    faza precedenta. Spre sfarsitul acestei faze, arboretul incepe sa se lumineze si sa se pregateasca
    pentru instalarea viitoarei generatii.</p>
  <p>Etapa batranetii dureaza de la aparitia declinului si pana la moartea arborilor. Procesele
    ﬁziologice slabesc in continuu, cresterea in inaltime inceteaza, varfurile si o mare parte din coroana
    se usuca, apar scorburile la baza si vitalitatea arborilor se reduce la minim. In aceasta etapa vorbim
    de o singura faza:</p>
  <p>-codru batran – incepe odata cu manifestarea fenomenelor de declin biologic cum ar ﬁ uscarea varfurilor sau a unor parti de coroana. Cresterile atat in inaltime cat si in grosime sunt nule.</p>

  <img src="assets/images/curs4.jpg" alt="Padurea"/>
</div>
