<div class="forest-info"><h2>Semintele forestiere</h2>
  <p>
    Inmultirea reprezinta o insusire fundamentala a organismelor vii care asigura perpetuarea speciilor, prin aparitia de noi indivizi, pe baza insusirilor lor genetice.
    Gimnospermele sunt plantele care au semintele neinchise in fruct. Ele sunt raspandite in
    zonele reci ale globului si in regiunile inalte, de deal si de munte. Dintre gimnosperme, cele mai frecvente sunt coniferele, numite astfel pentru ca ﬂorile lor sunt in forma de con.
    Angiospermele sunt plantele cu samanta inchisa in fruct. Ele sunt cele mai evoluate si
    cele mai raspandite plante de pe suprafata Pamantului, existand aproximativ 300.000 de specii de
    angiosperme.
    Regenerarea padurii este procesul de innoire sau refacere a generatiilor de arbori, in
    locul celor exploatate sau distruse din diferite cauze.
  </p>
  <p>
  Procesul regenerarii este o veriga obligatorie, care asigura continuitatea padurii in timp si
  spatiu. Regenerarea padurii are la baza capacitatea arborilor existenti de a produce seminte sau de
  a lastari. Cele doua modalitati de regenerare conduc la doua modalitati diferite de gospodarire a
  padurii respectiv regimul codrului cand regenerarea se bazeaza pe seminte si regimul crangului cand
  regenerarea se bazeaza pe lastari. In tara noastra la toate arboretele se aplica regimul codrului, cu
  exceptia arboretelor de plop, de salcie, de salcam sau in zavoaie.
  </p>
  <img src="assets/images/curs2.1.jpg" alt="Pădurea" />
  <p>
    Recoltarea fructelor, conurilor si a semintelor se face in general in faza de coacere, pentru unele specii forestiere aceasta se realizeaza inaintea
    coacerii. Coacerea reprezinta procesul ﬁziologic prin care fructele isi inceteaza cresterea, isi schimba culoarea si consistenta. Caderea naturala a fructelor/ semintelor, poarta denumi-
    rea de diseminare.
    Recoltarea se face de pe suprafata solului, la speciile cu fructe sau seminte mari si grele, Conuri de brad recoltate
    care cad liber pe sol dupa coacere, precum stejarul, fagul, castanul, nucul, etc. Recoltarea fructelor
    si conurilor de pe arbori se face cu mana, prin smulgere, cu ajutorul pieptenului sau prin taierea de
    la baza a conurilor si fructelor folosind cosoare sau foarfeci montate la capatul unor prajini. Seminte-
    le aripate de ulm, frasin, artar, paltin se recolteaza manual de pe sol, dupa diseminare.
  </p>
  <p>
    Pentru a ajunge in coroana arborilor este necesara utilizarea diferitelor utilaje de urcat
    cum ar ﬁ: pinteni ﬁxati pe bocanci, scari metalice sau de franghie, dispozitive tip bicicleta cu ajutorul
    carora urcarea in arbore se face prin pedalare, ascensoare cu trolii sau cu angrenaj, in toate cazurile
    folosindu-se centuri de siguranta cu corzi duble care sa asigure securitatea muncitorilor.
    Procesarea fructelor, a conurilor si conditionarea semintelor presupun una sau mai multe
    operatii prin care se obtin semintele. In ceea ce priveste conurile, acestea sunt supuse operatiei de
    uscare la temperaturi ce variaza in functie de specie, in spatii special amenajate numite uscatorii.
    Fructele carnoase, suculente, precum cele de mar si par paduret,
    catina, corn, maces, lemn cainesc, calin, paducel, etc. se proceseaza imediat dupa recoltare, pentru
    a nu fermenta, folosindu-se masina de descarnat fructe sau procedandu-se la zdrobirea fructelor si
    separarea semintelor cu ajutorul unei site si a unui jet de apa. Conditionarea semintelor presupune,
    dupa caz, una sau mai multe operatii prin care acestea devin apte pentru semanat sau pastrat.
    Semintele rasinoaselor (molid, brad, pini, duglas, larice) se dezaripeaza manual sau cu ajutorul unor
    dispozitive, dupa care sunt curatate de impuritati si sortate dupa marime sau forma, operatie ce se
    executa manual cu ajutorul unor site sau mecanic la trior. Cand umiditatea semintelor este mai mare
    decat cea optima pentru pastrare acestea sunt puse la zvantat.
    Pastrarea semintelor pe o perioada indelungata sau foarte indelungata de timp este
    necesara deoarece nu toate speciile forestiere fructiﬁca anual. Unele sunt pastrate de toamna pana
    primavara, in timp ce la altele durata de pastrare poate ﬁ de 7- 10 ani.
    Pregatirea semintelor pentru semanare se face aplicand tratamente ce au ca scop ﬁnal
    stimularea incoltirii. Pentru a preveni si combate daunatorii, inainte de semanare, semintele sunt
    tratate cu diferite substante.
  </p>
  <img src="assets/images/curs2.2.jpg" alt="Pădurea" />
</div>
