<div class="practice-container">
  <h2>Intrebari de consolidare a notiunilor...</h2>

  <div class="cuprins">
    <h3>Cuprins</h3>
    <ul>
      <li><button class="cuprins-button" (click)="scrollTo('#despre-padure')">Despre padure</button></li>
      <li><button class="cuprins-button" (click)="scrollTo('#semintele-forestiere')">Semintele forestiere</button></li>
      <li><button class="cuprins-button" (click)="scrollTo('#pepiniere-si-plantatii')">Pepiniere si plantatii</button></li>
      <li><button class="cuprins-button" (click)="scrollTo('#stadiile-de-dezvoltare-ale-paduri')">Stadiile de dezvoltare ale padurii</button></li>
    </ul>
  </div>

  <section class="faq-section" >
    <h3 id="#despre-padure" >Despre padure...</h3>

    <div class="faq-item">
      <h4>Care sunt principalele cauze ale reducerii suprafetei acoperite de paduri in Romania de-a lungul timpului?</h4>
      <p>Cauzele reducerii suprafetei acoperite de paduri in Romania au inclus defrisarile extinse pentru a face loc agriculturii si dezvoltarii urbane, taierile ilegale, schimbarile de destinatie a terenurilor forestiere si presiunile antropice.</p>
    </div>

    <div class="faq-item">
      <h4>Cum a evoluat procentul de impadurire in Romania incepand cu secolul al XIX-lea pana in prezent?</h4>
      <p>Evolutia procentului de impadurire in Romania a cunoscut o scadere semnificativa incepand cu secolul al XIX-lea, atingand cote minime in perioada industrializarii, iar ulterior a inceput sa creasca treptat, dar nu a atins inca nivelurile optime.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se impart functiile padurilor in doua mari categorii si care sunt aceste categorii?</h4>
      <p>Functiile padurilor se impart in doua mari categorii: economice (productie de lemn, cherestea, fructe de padure) si ecologice (protectia solului, conservarea biodiversitatii, reglarea regimului hidric).</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt speciile dominante de arbori in padurile din Romania si care ocupa procentul majoritar?</h4>
      <p>Speciile dominante de arbori in padurile din Romania sunt molidul si fagul, ocupand procentul majoritar in anumite regiuni.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt principalele functii de protectie ale padurilor si cum influenteaza acestea mediul si societatea?</h4>
      <p>Principalele functii de protectie ale padurilor includ protectia solului impotriva eroziunii, reglarea regimului hidric, ameliorarea climatului local si filtrarea aerului.</p>
    </div>

    <div class="faq-item">
      <h4>Cum contribuie padurea la reglarea regimului hidric si la prevenirea fenomenelor torentiale?</h4>
      <p>Contributia padurii la reglarea regimului hidric consta in absorbtia apei de ploaie si prevenirea inundatiilor, iar prin eliberarea apei in atmosfera, contribuie la formarea ploilor.</p>
    </div>

    <div class="faq-item">
      <h4>Ce beneficii aduce padurea in ceea ce priveste climatul si calitatea aerului din zona sa?</h4>
      <p>Beneficiile padurii asupra climatului si calitatii aerului includ reducerea concentratiei de dioxid de carbon prin fotosinteza si producerea de oxigen.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt principalele functii de protectie mentionate in clasificarea din text?</h4>
      <p>Principalele functii de protectie mentionate in clasificarea din text sunt protectia solului, a apelor, a climei, a biodiversitatii si a resurselor genetice.</p>
    </div>

    <div class="faq-item">
      <h4>De ce se considera ca, in viitor, functiile de protectie ale padurilor vor deveni prioritare?</h4>
      <p>Functiile de protectie ale padurilor vor deveni prioritare in viitor din cauza schimbarilor climatice, a degradarii mediului si a necesitatii conservarii biodiversitatii.</p>
    </div>

    <div class="faq-item">
      <h4>Ce procente ale produselor forestiere din Romania sunt exploatate anual si in ce masura au scazut aceste cifre comparativ cu perioada comunista?</h4>
      <p>Procente ale produselor forestiere exploatate in Romania au scazut comparativ cu perioada comunista, iar in prezent se cauta un echilibru intre exploatarea sustenabila si conservarea resurselor.</p>
    </div>

    <h3 id="#semintele-forestiere">Semintele forestiere</h3>

    <div class="faq-item">
      <h4>Care este diferenta dintre gimnosperme si angiosperme in ceea ce priveste modul in care semintele sunt inchise?</h4>
      <p>Diferenta dintre gimnosperme si angiosperme in ceea ce priveste modul in care semintele sunt inchise consta in faptul ca gimnospermele au seminte deschise, in timp ce angiospermele au seminte inchise intr-un fruct.</p>
    </div>

    <div class="faq-item">
      <h4>Ce reprezinta regenerarea padurii si de ce este esentiala pentru continuitatea acesteia in timp si spatiu?</h4>
      <p>Regenerarea padurii reprezinta procesul natural sau asistat de innoire a padurii pentru asigurarea continuitatii acesteia in timp si spatiu.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt cele doua modalitati de regenerare a padurii mentionate in text si cand se aplica fiecare dintre ele?</h4>
      <p>Cele doua modalitati de regenerare a padurii mentionate in text sunt regenerarea naturala si cea artificiala, aplicate in functie de conditiile locale si cerintele speciilor de arbori.</p>
    </div>

    <div class="faq-item">
      <h4>Ce specii de plante sunt mentionate ca exemplu pentru regimul crangului in Romania?</h4>
      <p>Speciile de plante mentionate pentru regimul crangului in Romania pot include stejarul, carpenul, alunul si alte specii de foioase.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se desfasoara procesul de recoltare a fructelor, conurilor si semintelor din padure?</h4>
      <p>Procesul de recoltare a fructelor, conurilor si semintelor din padure implica colectarea acestora manual sau cu ajutorul utilajelor specifice, precum si prelucrarea lor ulterioara.</p>
    </div>

    <div class="faq-item">
      <h4>Ce metode sunt folosite pentru a ajunge in coroana arborilor in timpul recoltarii?</h4>
      <p>Metodele utilizate pentru a ajunge in coroana arborilor in timpul recoltarii pot include utilizarea scarilor, ridicarea cu ajutorul unor dispozitive mecanizate sau, in cazul unor specii inalte, utilizarea de tehnologii avansate precum dronele.</p>
    </div>

    <div class="faq-item">
      <h4>Cum sunt procesate conurile in vederea obtinerii semintelor, si unde are loc aceasta operatiune?</h4>
      <p>Procesarea conurilor pentru obtinerea semintelor consta in desfacerea acestora, separarea semintelor de restul conurilor si, in unele cazuri, aplicarea unor tratamente pentru imbunatatirea germinatiei.</p>
    </div>

    <div class="faq-item">
      <h4>Ce procedee sunt utilizate pentru procesarea fructelor carnoase dupa recoltare?</h4>
      <p>Procedeele utilizate pentru procesarea fructelor carnoase dupa recoltare pot include extragerea semintelor, uscarea sau fermentarea, in functie de specie.</p>
    </div>

    <div class="faq-item">
      <h4>Care este importanta conditionarii semintelor si cand este necesar sa se apeleze la zvantat?</h4>
      <p>Importanta conditionarii semintelor consta in pregatirea lor pentru semanat, iar zvantatul este necesar pentru indepartarea resturilor de fructe si alte impuritati.</p>
    </div>

    <div class="faq-item">
      <h4>Ce tratamente se aplica semintelor inainte de semanare si cu ce scop?</h4>
      <p>Tratamentele aplicate semintelor inainte de semanare au ca scop imbunatatirea germinatiei si a randamentului, inclusiv prin stimularea intrarii in germinare.</p>
    </div>

    <h3 id='#pepiniere-si-plantatii'>Pepiniere si plantatii</h3>

    <div class="faq-item">
      <h4>Care sunt principalele diferente intre pepinierele permanente si cele provizorii in ceea ce priveste dotarea si functionarea lor?</h4>
      <p>Principalele diferente intre pepinierele permanente si cele provizorii includ dotarea cu instalatii, utilaje si personal calificat in cazul pepinierelor permanente, in timp ce pepinierele provizorii sunt mai simplu echipate si sunt mentinute temporar.</p>
    </div>

    <div class="faq-item">
      <h4>Care este prima operatie realizata intr-o pepiniera pentru asigurarea conditiilor optime de incoltire a semintelor si crestere a puietilor?</h4>
      <p>Prima operatie realizata intr-o pepiniera pentru asigurarea conditiilor optime consta in lucrarea solului pentru incoltirea semintelor si cresterea puietilor.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se realizeaza pregatirea solului pentru semanat intr-o pepiniera si de ce este necesara aplicarea regulata a ingrasamintelor?</h4>
      <p>Pregatirea solului pentru semanat intr-o pepiniera implica asigurarea unor conditii optime, iar aplicarea regulata a ingrasamintelor este necesara din cauza consumului semnificativ de substante nutritive de catre plantule si puieti.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se gestioneaza starea de repaus a semintelor si care sunt procedeele utilizate pentru a stimula germinarea acestora?</h4>
      <p>Starea de repaus a semintelor este gestionata prin fortificare si stratificare. Aceste procedee stimuleaza germinarea semintelor.</p>
    </div>

    <div class="faq-item">
      <h4>Ce inseamna procesul de repicaj in contextul cresterii plantulelor si cand este cel mai adesea executat?</h4>
      <p>Repicajul este procesul de transplantare a plantulelor in recipiente individuale. Este executat in functie de dezvoltarea plantulelor si conditiile meteorologice, de obicei, primavara.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt principalele metode de inmultire vegetativa a plantelor utilizate in practica silvica, conform textului?</h4>
      <p>Metodele includ butasii, marcotajul, altoirea, si rasadurile, in functie de speciile de arbori si conditiile locale.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se protejeaza puietii impotriva temperaturilor scazute si a insolatiei in timpul cresterii lor in pepiniere?</h4>
      <p>Protectia puietilor se realizeaza prin utilizarea materialului de acoperire, umbrire, sau instalatii de protectie impotriva inghetului si a soarelui excesiv.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt operatiunile de ingrijire a culturilor din pepiniere, de la infiintare pana la scosul puietilor?</h4>
      <p>Operatiunile includ udarea, fertilizarea, ingrijirea solului, taierea puietilor pentru a incuraja formarea unui sistem radicular sanatos, si protectia impotriva buruienilor si bolilor.</p>
    </div>

    <div class="faq-item">
      <h4>Ce masuri se iau pentru protejarea puietilor impotriva buruienilor si a crustei formate pe suprafata solului?</h4>
      <p>Masurile includ erbicidarea impotriva buruienilor si lucrarea solului pentru prevenirea crustei superficiale, facilitand absorbtia apei.</p>
    </div>

    <div class="faq-item">
      <h4>Ce reprezinta impadurirea si care sunt tipurile de terenuri pe care se poate realiza acest proces conform textului?</h4>
      <p>Impadurirea este procesul de transformare a unui teren in padure. Poate fi realizata pe terenuri defrisate, agricole abandonate sau terenuri degradate.</p>
    </div>

    <h3 id='#stadiile-de-dezvoltare-ale-paduri'>Stadiile de dezvoltare ale padurii</h3>

    <div class="faq-item">
      <h4>Cum sunt distinse cele trei etape ale dezvoltarii padurii: tineret, maturitate si batranete?</h4>
      <p> Etapele sunt distinse in functie de varsta, structura si dinamica populatiilor de arbori, trecand de la tineret, la maturitate si apoi la batranete.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt caracteristicile etapei tineretii si cum evolueaza aceasta de la semintis la nuielis?</h4>
      <p>Tineretul incepe cu rasarirea si evolueaza prin fazele de semintis, desis, nuielis, si prajinis, marcand tranzitia de la rasarire la arbori cu diametrul de aproximativ 5 cm.</p>
    </div>

    <div class="faq-item">
      <h4>Cum se desfasoara faza "desis" si de ce sunt importante relatiile de interdependenta dintre arbori in aceasta etapa?</h4>
      <p>Faza "desis" implica formarea unei comunitati de arbori care lupta impreuna impotriva factorilor daunatori. Relatiile de interdependenta sunt cruciale pentru asigurarea supravietuirii si dezvoltarii.</p>
    </div>

    <div class="faq-item">
      <h4>Care este semnificatia fazei "prajinis" in dezvoltarea padurii si cum se manifesta aceasta in ceea ce priveste diametrul si densitatea arborilor</h4>
      <p> Faza "prajinis" se refera la perioada in care diametrul mediu al arborilor atinge intre 5 si 10 cm. Cresterea in inaltime devine intensa, densitatea este mare, iar diametrul este in crestere moderata.</p>
    </div>

    <div class="faq-item">
      <h4>Ce reprezinta faza "paris" si cum se caracterizeaza aceasta in functie de diametrul mediu al arborilor?</h4>
      <p>Faza "paris" cuprinde perioada in care diametrul mediu al arborilor este cuprins intre 11 si 20 cm. Se caracterizeaza prin cresterea in inaltime foarte activa, iar diametrul creste incet.</p>
    </div>

    <div class="faq-item">
      <h4>Cum incepe etapa maturitatii si care sunt cele doua faze distincte ale acestei etape?</h4>
      <p>Etapa maturitatii incepe cu prima fructificare abundenta si include fazele de codrisor (codru tanar) si codru mijlociu.</p>
    </div>

    <div class="faq-item">
      <h4>Ce caracteristici definesc faza "codrisor" in cadrul etapei maturitatii si cum se schimba cresterea in inaltime si grosime a arborilor in aceasta perioada?</h4>
      <p>Faza "codrisor" se caracterizeaza prin fructificare abundenta, iar cresterea in inaltime incepe sa scada, in timp ce cea in grosime devine foarte activa.</p>
    </div>

    <div class="faq-item">
      <h4>Ce reprezinta faza "codru mjlociu" si cum evolueaza diametrul, fructificatia si cresterea arborilor in aceasta faza?</h4>
      <p>Faza "codru mijlociu" cuprinde perioada in care diametrul mediu al arborilor este cuprins intre 36 si 50 cm. Fructificatia se mentine abundenta, dar cresterea in inaltime este redusa, iar cea in grosime ramane activa.</p>
    </div>

    <div class="faq-item">
      <h4>Care sunt semnele si procesele care indica declinul biologic in etapa batranetii a padurii?</h4>
      <p>Semnele si procesele care indica declinul biologic in etapa batranetii a padurii includ oprirea cresterii in inaltime si grosime a arborilor, uscarea varfurilor si a unor parti ale coroanei, aparitia scorburilor la baza trunchiului si reducerea generala a vitalitatii arborilor.</p>
    </div>

    <div class="faq-item">
      <h4>Cum este definita etapa batranetii si care este caracteristica principala a fazei "codru batran"?</h4>
      <p>Etapa batranetii incepe odata cu manifestarea fenomenelor de declin biologic in padure si se incheie odata cu moartea arborilor. Faza "codru batran" se caracterizeaza prin oprirea cresterii in inaltime si grosime a arborilor, aparitia scorburilor la baza trunchiului si uscarea varfurilor si a unor parti ale coroanei. Aceasta faza reprezinta stadiul final al vietii padurii respective.</p>
    </div>
  </section>
</div>

<button class="butonInapoi"  (click)="goToTests()">Mergi catre teste</button>
<button class="butonInapoi"  (click)="goBackToCourses()">Inapoi la cursuri</button>

