<div class="container">
  <div class="form-box">
    <h1>Introduce-ți parola aferentă contului și noua parolă</h1>
    <form [formGroup]="signupForm">

      <div class="input-field">
        <i class="fa-solid fa-key"></i>
        <input matInput formControlName="oldPassword" [type]="oldPasswordFlag ? 'password':'text'" placeholder="Vechea parola"
               required>
        <button type="button" mat-icon-button matSuffix (click)="oldPasswordFlag=!oldPasswordFlag"
                [attr.arial-label]="'Hide password'" [attr.aria-pressed]="oldPasswordFlag">
          <i class="fa-solid fa-eye-slash"></i>
        </button>

        <mat-error *ngIf="signupForm.controls.oldPassword.touched && signupForm.controls.oldPassword.invalid">
          <span *ngIf="signupForm.controls.oldPassword.errors.required">Obligatoriu</span>
          <span *ngIf="signupForm.controls.oldPassword.errors.invalid">Invalid</span>
        </mat-error>
      </div>

      <div class="input-field">
        <i class="fa-solid fa-key"></i>
        <input matInput formControlName="newPassword" [type]="newPasswordFlag ? 'password':'text'" placeholder="Noua parola"
               required>
        <button type="button" mat-icon-button matSuffix (click)="newPasswordFlag=!newPasswordFlag"
                [attr.arial-label]="'Hide password'" [attr.aria-pressed]="newPasswordFlag">
          <i class="fa-solid fa-eye-slash"></i>
        </button>

        <mat-error *ngIf="signupForm.controls.newPassword.touched && signupForm.controls.newPassword.invalid">
          <span *ngIf="signupForm.controls.newPassword.errors.required">Obligatoriu</span>
          <span *ngIf="signupForm.controls.newPassword.errors.invalid">Invalid</span>
        </mat-error>
      </div>
    </form>

    <div class="btn-field">
      <button type="button" (click)="changePassword()">Schimbă parola
      </button>
    </div>

  </div>
</div>

