<button *ngIf="isRoleProfesor()" (click)="creeazaQuiz()" class="butonCreate" [routerLink]="['createCourse']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Creează quiz</button>

<h2>Quiz-uri Disponibile</h2>
<div class="courses-container">
  <div *ngFor="let quiz of quizes" class="course-item">
    <h3>{{ quiz.title }}</h3>
    <img src="{{ quiz.course.imageUrl }}" alt="{{ quiz.course.title }} Image" />
    <button (click)="startQuiz(quiz)">Deschide quiz</button>
    <button *ngIf="isRoleProfesor()" (click)="stergeQuiz(quiz)">Șterge quiz</button>
  </div>
</div>
<button class="butonNavigate" (click)="goToPractice()">Mergi la exersarea notiunilor</button>

