<div class="quiz-container">
  <div class="quiz-item">
    <h4>Ce reprezinta faza "paris" si cum se caracterizeaza aceasta in functie de diametrul mediu al arborilor?</h4>
    <form>
      <label>
        <input type="radio" name="q1" value="a" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> a) Perioada de hibernare a arborilor
      </label>
      <label>
        <input type="radio" name="q1" value="b" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> b) Perioada de crestere rapida a diametrului arborilor
      </label>
      <label>
        <input type="radio" name="q1" value="c" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> c) Perioada in care diametrul mediu al arborilor este intre 11 si 20 cm, cu crestere in inaltime activa si crestere lenta a diametrului
      </label>
      <label>
        <input type="radio" name="q1" value="d" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> d) Perioada de taiere intensiva a arborilor
      </label>
    </form>
  </div>

  <div class="quiz-item">
    <h4>Cum incepe etapa maturitatii si care sunt cele doua faze distincte ale acestei etape?</h4>
    <form>
      <label>
        <input type="radio" name="q2" value="a" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> a) Cu o crestere rapida a inaltimii arborilor
      </label>
      <label>
        <input type="radio" name="q2" value="b" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> b) Cu o reducere a inaltimii arborilor
      </label>
      <label>
        <input type="radio" name="q2" value="c" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> c) Cu prima fructificare abundenta si include fazele de codrisor (codru tanar) si codru mijlociu
      </label>
      <label>
        <input type="radio" name="q2" value="d" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> d) Cu o crestere intensiva a diametrului arborilor
      </label>
    </form>
  </div>

  <div class="quiz-item">
    <h4>Ce caracteristici definesc faza "codrisor" in cadrul etapei maturitatii si cum se schimba cresterea in inaltime si grosime a arborilor in aceasta perioada?</h4>
    <form>
      <label>
        <input type="radio" name="q3" value="a" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> a) Fructificare slaba si crestere intensiva a inaltimii
      </label>
      <label>
        <input type="radio" name="q3" value="b" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> b) Fructificare abundenta si crestere intensiva a inaltimii si grosimii
      </label>
      <label>
        <input type="radio" name="q3" value="c" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> c) Fructificare abundenta si crestere inaltime scazuta, dar activa in grosime
      </label>
      <label>
        <input type="radio" name="q3" value="d" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> d) Lipsa fructificarii si crestere activa in grosime
      </label>
    </form>
  </div>

  <div class="quiz-item">
    <h4>Ce reprezinta faza "codru mijlociu" si cum evolueaza diametrul, fructificatia si cresterea arborilor in aceasta faza?</h4>
    <form>
      <label>
        <input type="radio" name="q4" value="a" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> a) Perioada in care arborii au diametrul mediu intre 21 si 35 cm, cu fructificare redusa si crestere intensiva in inaltime
      </label>
      <label>
        <input type="radio" name="q4" value="b" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> b) Perioada in care arborii au diametrul mediu intre 36 si 50 cm, cu fructificare abundenta si crestere activa in grosime, dar scazuta in inaltime
      </label>
      <label>
        <input type="radio" name="q4" value="c" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> c) Perioada in care arborii au diametrul mediu intre 51 si 65 cm, cu crestere redusa a grosimii si inaltimii
      </label>
      <label>
        <input type="radio" name="q4" value="d" onClick="if (this.checked) { this.setAttribute('checked', null); } else { this.removeAttribute('checked'); }"> d) Perioada in care arborii au diametrul mediu peste 65 cm, cu fructificare slaba si crestere redusa in grosime si inaltime
      </label>
    </form>
  </div>
</div>



<button class="butonInapoi"  (click)="sendForm()">Trimite raspunsuri</button>
