/* courses.component.css */

.courses-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #40531b;
  border-bottom: 2px solid #40531b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3, p{
  color: #2b3b0c;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #2b3b0c;
  border-radius: 8px;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  background-color: #40531b;
  color: #fff;
  float: right;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
