<div class="help-container">
  <h1>Centrul de Ajutor</h1>

  <section class="faq-section">
    <h2>Întrebări Frecvente</h2>
    <div class="faq-item">
      <h3>Cum mă înregistrez pe platformă?</h3>
      <p>Pentru a vă înregistra, accesați <a href="/login">pagina de înregistrare</a> și completați informațiile necesare.</p>
    </div>

    <div class="faq-item">
      <h3>Cum îmi resetez parola?</h3>
      <p>Puteți să vă resetați parola accesând  <a href="/changePassword">pagina de resetare a parolei</a> și urmând instrucțiunile.</p>
    </div>

    <div class="faq-item">
      <h3>Ți-ai uitat parola?</h3>
      <p>Puteți să vă obțineți parola accesând  <a href="/password">pagina de obținere a parolei aferente contului</a> și urmând instrucțiunile.</p>
    </div>
  </section>

  <section class="navigation-section">
    <h2>Navigare și Utilizare Platformă</h2>
    <div class="navigation-item">
      <h3>Cum pot accesa profilul meu și urmări progresul în cursuri?</h3>
      <p>Pentru a accesa profilul, autentificați-vă și vizitați pagina de profil. Acolo veți găsi informații despre progresul în cursurile pe care le-ați parcurs.</p>
    </div>

    <div class="navigation-item">
      <h3>Cum pot interacționa cu alți utilizatori în cadrul platformei?</h3>
      <p>Pentru a interacționa cu alți utilizatori, accesați forumurile noastre de discuții. Acolo puteți să puneți întrebări, să împărtășiți experiențe și să colaborați la proiecte comune.</p>
    </div>
  </section>

  <section class="technical-issues-section">
    <h2>Probleme Tehnice</h2>
    <div class="technical-issue-item">
      <h3>Ce fac dacă întâmpin probleme tehnice în timpul utilizării platformei?</h3>
      <p>Pentru a remedia problemele tehnice, vă recomandăm să verificați conexiunea la internet și să ștergeți cookie-urile browserului. Dacă problemele persistă, vă rugăm să ne contactați folosind formularul de suport.</p>
    </div>
  </section>

  <section class="contact-section">
    <h2>Contact și Suport</h2>
    <div class="contact-item">
      <h3>Cum pot intra în contact cu echipa de suport?</h3>
      <p>Pentru asistență, ne puteți contacta la adresa de email support@forestryEdu.com sau puteți completa formularul de contact de pe pagina noastră de suport.</p>
    </div>

    <div class="contact-item">
      <h3>Programul de Lucru al Suportului</h3>
      <p>Echipa noastră de suport este disponibilă de luni până vineri, între orele 9:00 și 17:00. Vom încerca să vă răspundem în cel mai scurt timp posibil.</p>
    </div>
  </section>
</div>
