@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #BDD09F;
}

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background: #709255;
}

body::-webkit-scrollbar-thumb {
  background-color: #40531b;
  border-radius: 35px;
  border: 5px solid #709255;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

.green-snackbar {
  color: darkgreen !important;
}

.black-snackbar {
  color: darkred !important;
}

mat-snack-bar-container{
  float: right;
  margin-right: 100px;
  bottom: 0;
}

.simple-snackbar .cdk-overlay-pane {
  float: right;
  margin-right: 10px;
  bottom: 0;
}

#snackbar {
  margin-right: 30px;
  background-color: #40531b;
  visibility: hidden;
  min-width: 250px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  margin-bottom: 0;
}

#snackbar.show {
  visibility: visible;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
