.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3px;
  color: #40531b;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.course-card img {
  max-width: 100%;
  height: auto;
}

h2 {
  border-bottom: 2px solid #40531b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.how-it-works {
  text-align: center;
}

.step {
  margin-bottom: 20px;
}

button {
  background-color: #709255;
  color: #fff;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
