.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #40531b;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.course-card img {
  max-width: 100%;
  height: auto;
}

h2 {
  border-bottom: 2px solid #40531b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.how-it-works {
  text-align: center;
}

.step {
  margin-bottom: 20px;
}
