<!-- home.component.html -->

<div class="container">
  <header>
    <h1>Bine ați venit în cadrul Platformei ForestryEdu!</h1>
    <h4>Platforma de E-Learning pentru Silvicultură a fost creată pentru a oferi profesioniștilor și entuziaștilor din domeniul silviculturii o modalitate eficientă de a-și îmbunătăți cunoștințele și abilitățile în acest domeniu. Scopul principal este de a facilita accesul la informații relevante, lecții practice și teste, într-un mod interactiv și personalizat.</h4>
    <p>Explorați cursurile noastre și îmbogățiți-vă cunoștințele în domeniul silviculturii.</p>
  </header>

  <section class="how-it-works">
    <h2>Cum Funcționează</h2>
    <div class="step">
      <h3>Pas 1</h3>
      <p>Înregistrați un cont sau autentificați-vă dacă sunteți deja membru.</p>
    </div>
    <div class="step">
      <h3>Pas 2</h3>
      <p>Alegeți un curs și explorați lecțiile disponibile.</p>
    </div>
    <div class="step">
      <h3>Pas 3</h3>
      <p>Parcurgeți lecțiile și testați-vă cunoștințele</p>
    </div>
    <div class="step">
      <h3>Pas 4</h3>
      <p>Urmăriți-vă progresul și obțineți premii.</p>
    </div>
  </section>
</div>
