<div class="container">
  <div class="form-box">
    <h1>Introduce-ți credențialele pe care vreți să le modificați pentru user-ul curent</h1>
    <form [formGroup]="signupForm">
      <div class="input-group">

        <div class="input-field">
          <i class="fa-solid fa-user"></i>
          <input matInput formControlName="name" type="text" placeholder="Nume" required [ngModel]="this.user.name">
        </div>

        <div class="input-field">
          <i class="fa-solid fa-phone"></i>
          <input matInput formControlName="contactNumber" type="text" placeholder="Număr de contact" required [ngModel]="this.user.contactNumber">
        </div>

        <label>
          <input type="radio" value="student" formControlName="role" checked [ngModel]="this.user.role">
          Student
        </label>
        <label *ngIf="isRoleAdmin() || isRoleProfessor()">
          <input type="radio" value="professor" formControlName="role" [ngModel]="this.user.role">
          Profesor
        </label>
        <label *ngIf="isRoleAdmin()">
          <input type="radio" value="admin" formControlName="role" [ngModel]="this.user.role">
          Admin
        </label>
      </div>
    </form>
    <div class="btn-field">
      <button type="button" (click)="modify()">Modifică </button>
    </div>
  </div>
</div>
